.button {
  display: block;
  box-sizing: border-box;
  padding: 14px 10px;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  border: 2px solid $border-color-button;
  font: inherit;
  font-size: $font-size-button;
  font-weight: 600;
  line-height: 20px;
  color: $font-color-button;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $bcg-color-button;
  cursor: pointer;
}
