  .comment__text {
    font-family: $main-font-family;
  }

  .comment__sign {
    font-family: $second-font-family;
    font-size: $accent-font-size;
    line-height: $second-line-height;
    color: $accent-font-color;
  }

  .comment__mail {
    font-size: $accent-font-size;
  }
