.contacts {
  font-family: $second-font-family;
  font-size: $button-font-size;
  color: $accent-font-color;
}

.contacts__info {
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
  color: $main-font-color;
}
