.headline{
  width:320px;
  height:175px;
  background-color:$second-bcg-color;
}

.headline__text{
  font-size:27px;
  line-height:$main-line-height;
  text-align:center;
  color:$accent-font-color;
}
