.main-nav {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1150px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__logo-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 22px 30px 21px;
  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    flex-grow: 1;
    padding: 21px 50px;
    background-color: $main-bcg-color;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 0;
    order: 1;
    padding: 7px 0 6px;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: none;

  // cursor: pointer;
  // border: 1px dashed greenyellow;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 3px;
    background-color: $accent-font-color;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  &--closed {
    // display: none;
    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 1px;
      box-shadow: 0 6px 0 0 $accent-font-color, 0 12px 0 0 $accent-font-color;
    }

    &::after {
      display: none;
    }
  }
}

.main-nav--no-js .main-nav__toggle {
  display: none;
}

.main-nav__list {
  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    order: 0;
  }
}

.site-list {
  position: relative;
  box-sizing: border-box;

  @include list-reset();
  font-size: $accent-font-size;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    width: 52%;
    font-size: 15px;
    color: $accent-font-color;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    border-bottom: 1px solid $border-color;
    font-size: $accent-font-size;
    background-color: $main-bcg-color;
  }

  &::before {
    content: none;
    position: absolute;
    top: 0;
    right: 500px;
    width: calc(50vw - 575px);
    height: 100%;
    background-color: $main-bcg-color;

    @media (min-width: $desktop-width) {
      content: "";
    }
  }

  &--closed {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }
}

.site-list__item {
  &:not(:last-child) {
    @media (min-width: $desktop-width) {
      margin-right: 34px;
      border-right: 1px solid $border-color;
    }
  }
}

// @media (max-width: $mobile-width) {

//   .main-nav--closed .site-list__item {
//     display: none;

//     &--active {
//       display: block;
//     }
//   }
// }

.site-list__link {
  display: block;
  padding: 27px 30px 27px 74px;
  border-bottom: 1px solid $border-color;
  color: $accent-font-color;
  text-decoration: none;

  &[href]:hover {
    color: $font-color-menu--hover;
  }

  &[href]:active {
    color: $font-color-menu--active;
  }

  @media (min-width: $tablet-width) {
    padding: 18px 37px 18px 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 36px 32px 0;
  }
}

.main-nav__user {
  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.user-list {
  position: relative;
  box-sizing: border-box;

  @include list-reset();
  font-size: $accent-font-size;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 398px;
    border-bottom: 1px solid $border-color;
    background-color: $main-bcg-color;
  }

  @media (min-width: $desktop-width) {
    padding-right: 50px;
    width: 500px;
  }

  &::after {
    content: none;
    position: absolute;
    top: 0;
    left: 500px;
    width: calc(50vw - 575px);
    height: 100%;
    background-color: $main-bcg-color;

    @media (min-width: $desktop-width) {
      content: "";
    }
  }

  &--closed {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }
}

.user-list__link {
  position: relative;
  display: block;
  padding: 27px 30px 27px 74px;
  border-bottom: 1px solid $border-color;
  color: $accent-font-color;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }

  &[href]:hover {
    color: $font-color-menu--hover;
  }

  &[href]:active {
    color: $font-color-menu--active;
  }

  &--search {
    @media (min-width: $tablet-width) {
      padding: 44px 40px;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
    }
  }

  &--basket {
    @media (min-width: $tablet-width) {
      padding: 32px 50px 32px 84px;
    }

    @media (min-width: $desktop-width) {
      padding: 32px 0 32px 84px;
    }
  }
}

.user-list__link-image {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  fill: $icon-color;

  @media (min-width: $tablet-width) {
    left: 32px;
  }

  .user-list__link:hover &,
  .user-list__link:active & {
    fill: $second-accent-color;
  }

  .user-list__link:active & {
    fill-opacity: 0.3;
  }
}

.user-list__link-text {
  @media (min-width: $tablet-width) {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    white-space: nowrap;
  }
}

.main-nav__sale {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    order: 3;
  }
}

.sale-navigation {
  flex-wrap: wrap;
  box-sizing: border-box;

  @include list-reset(50px);
  font-size: $main-font-size;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    width: 500px;
  }
}

.sale-navigation__item {
  &:not(:last-child) {
    @media (min-width: $desktop-width) {
      margin-right: 34px;
    }
  }
}

.sale-navigation__link {
  display: block;
  padding: 18px 29px 18px 0;
  color: $accent-font-color;
  text-decoration: none;

  &[href]:hover {
    color: $font-color-menu--hover;
  }

  &[href]:active {
    color: $font-color-menu--active;
  }
}

.main-nav__delivery {
  display: none;
  box-sizing: border-box;
  margin: 0;
  padding: 18px 50px;
  text-align: right;

  @media (min-width: $tablet-width) {
    display: block;
    order: 2;
    width: 48%;
  }

  @media (min-width: $desktop-width) {
    order: 4;
    margin-left: auto;
    width: 500px;
  }
}
