.notice{
  width:320px;
  background:
  url("../img/hero-mobile@1x.jpg") no-repeat center;
}
.notice__header{
list-style: none;
//   display:block;
//   width: 320px;
//   height:320px;
//   background:
//     url("../img/hero-mobile@1x.jpg") no-repeat center;
 }
.notice__slogan{
  font-size: $first-accent-font-size;
  line-height: $main-line-height;
  font-family: $second-font-family;
  color:#010000;
}
.notice__item--interior{
  height:103px;
  background-color: $second-accent-color;
}
.notice__item--toys{
 height:103px;
 background-color: #56c3b2;
}
.notice__link{
 font-size: $second-accent-font-size;
 line-height: $second-line-height;
 font-family: $second-font-family;
 color:$third-accent-color;
}
