.catalog__video{
  width:260px;
}
.headline__text{
  // margin-top:25px;
  // margin-right: 43px;
  // margin-left: 62px;
  width:126px;
  font-size:$accent-font-size;
  line-height: $second-line-height;
  font-family: $second-font-family;
  color: $accent-font-color;
}
.video__text{
  // display:block;
  // margin-top:33px;
  // margin-right: 28px;
  // margin-left: 43px;
  width:183px;
  height:109px;
  font-size:13px;
  line-height: $second-line-height;
 }
