@font-face {
  font-family: "Opensans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Opensans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@import "var.scss";

.page {
  margin: 0;
  padding: 0;
  min-width: $mobile-width;
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
  color: $main-font-color;
  background-color: $main-bcg-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1150px;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.section-title {
  font-size: $third-font-size;
  font-weight: 600;
  line-height: 30px;
  color: $font-color-section-title;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.item-title {
  margin: 0;
  padding-bottom: 3px;
  font-size: $third-font-size;
  line-height: $main-line-height;
  font-family: $main-font-family;
  font-weight: 600;
  color: $accent-font-color;
}

// Catalog
.catalog__content {
  margin: 30px;
  // width: 260px;
}

// Forms
.form__text {
  font-size: 13px;
  line-height: $second-line-height;
}

@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/modal-overlay.scss";
@import "blocks/notice.scss";
@import "blocks/main-content.scss";
@import "blocks/product-week.scss";
@import "blocks/button.scss";
@import "blocks/about.scss";
@import "blocks/comment.scss";
@import "blocks/pagination.scss";
@import "blocks/contacts.scss";
@import "blocks/footer.scss";
@import "blocks/headline.scss";
@import "blocks/product.scss";
@import "blocks/video.scss";
