$main-font-family: "Opensans", Arial, sans-serif;
$main-font-size: 15px;
$main-font-color: #444444;
$main-line-height: 30px;
$main-bcg-color: #ffffff;

$accent-font-size: 17px;
$button-font-size: 18px;
$second-accent-font-size: 19px;
$first-accent-font-size: 27px;

$second-form-line-height: 16px;
$form-line-height: 18px;
$accent-line-height: 20px;
$second-line-height: 24px;

$second-font-family:"Opensansbold", Arial, sans-serif;

$accent-font-color: #000000;

$second-bcg-color: #f1f1f1;

$second-accent-color: #63d1bb;
$third-accent-color: #ffffff;
